<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.board-mapper">
    <select id="getList" resultType="com.example.myyahoo.entity.BoardEntity">
        SELECT
        email,id
        FROM users
        <if test="keyword != null">
            where title like concat('%',#{keyword},'%')
        </if>
        order by id desc
        limit #{startNo},#{listOffset}
    </select>

    <select id="getOne" parameterType="String" resultType="com.example.myyahoo.entity.BoardEntity">
        select * from boards where id=#{id}
    </select>

    <select id="getTotalCnt" resultType="int">
        select count(id) from boards
        <if test="keyword != null">
            where title like concat('%',#{keyword},'%')
        </if>
    </select>
</mapper>